<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Virgo Admin Console - error</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="/admin/images/favicon.ico" />
		<link rel="stylesheet" href="/admin/styles/error.css" type="text/css" />
		<link rel="stylesheet" href="/admin/styles/print.css" type="text/css" media="print" />
		<script src="/admin/js/error.js" type="text/javascript" ></script>
	</head>
	
	<body class="main">
	    <div id="page">
	        <div id="mini-header">
				<div id="mini-header-left"></div>
				<div id="mini-header-right"></div>
	        </div> <!-- /mini-header -->
	
		    <div id="primary-navigation">
		        <div id="primary-left">
		
		        </div>
		        <div id="left-cap"></div>
		        <div id="primary-right">
		            <ul>
		                <li><a href="/admin" title="Admin Console">Admin Console Home</a></li>
		            </ul>
		        </div>
		        <div id="right-cap"></div>
		    </div><!-- /primary-navigation -->
	
		    <div id="container">
				<div id="content-no-nav">
		
					<h1 class="title">Virgo Server - OPPPS!!</h1>
					<p>
						An unexpected error occurred while performing your requested operation.
						Please return to the <a href="/admin/content/overview">main page</a> and
						try again.
					</p>
					<p>
						If there has been an exception then consult the logs in the 
						'<em>serviceability</em>' directory of the installed server.
					</p>
				</div><!-- /content -->
		    </div><!-- /container -->
		    
		    <div id="footer-wrapper">
		      <div id="footer-left">&#169; Copyright 2008, 2011 VMware Inc. Licensed under the Eclipse Public License v1.0.</div>
		
		      <div id="footer-right"></div> 
		    </div>
		</div> <!-- /page-->

	</body>
</html>
