<!DOCTYPE html>
<html lang="en">

	<head>
		<title><!--@<servletContextName@--> - <!--@<viewName@--></title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"				/>
		<link rel="shortcut icon" href="<!--@<contextPath@-->/resources/images/favicon.ico"			/>
		<link rel="stylesheet"    href="<!--@<contextPath@-->/resources/styles/<!--@<viewName@-->.css"	type="text/css" />
		<link rel="stylesheet"    href="<!--@<contextPath@-->/resources/styles/print.css"				type="text/css" media="print" />
		<script type="text/javascript">var contextPath = "<!--@<contextPath@-->";</script>
	</head>
	
	<body>
	    <div id="page">
	        <div id="header">
	            <div id="name-and-company">
	                <div id='site-name'>
	                </div>
	            </div> <!-- /name-and-company -->
	        </div> <!-- /header -->
	
			<div id="servers" class="container">
				<h1>Manage Servers</h1> 
				<div id="servers-list"></div>
			</div>
	
	    	<div id="navigation">
	        	<div id="navigation-left">
	            	<ul>
	            	    <li>
	            	    </li>
	            	</ul>
	        	</div>
		       	<div id="navigation-left-curve"></div>
 	        	<div id="navigation-right">
	            	<ul>
	            	    <li>
	            	    </li>
	            	</ul>
	        	</div>
	        	<div id="navigation-right-curve"></div>
	    	</div>

			<div id="content" class="container">
