<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Demo Web Bundle</display-name>
  <description>Demo Web Bundle</description>
  
  <servlet>
    <servlet-name>content</servlet-name>
    <servlet-class>net.codersbrew.gradle.demo.bundle.two.ContentServlet</servlet-class>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>/WEB-INF/layouts</param-value>
    </init-param>
    <init-param>
      <param-name>suffix</param-name>
      <param-value>.html</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>content</servlet-name>
    <url-pattern>/content/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>net.codersbrew.gradle.demo.bundle.two.ResourceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/layouts/error.html</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/layouts/error.html</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/layouts/error.html</location>
  </error-page>

</web-app>